    <!-- cabecera -->
    {{> cabecera}}
    <!-- Navbar -->
    {{> navbar}}
    <!-- Carrusel -->
    <!-- Tabla -->
    <main>
        <div class="container">
            <h1 id="t-catalogo">CATALOGO DE JUEGOS</h1>
            <!-- Filtro -->
            <div class="filtro d-flex justify-content-center">
                <label id= "label-filtro" for="filtro-genero">Filtrar por género</label>
                <select id="filtro-genero" class="form-select" aria-label="Default select example">
                    <option selected>Seleccione un genero</option>
                    <option value="accion">Accion</option>
                    <option value="suspenso">Suspenso</option>
                    <option value="RPG">RPG</option>
                </select>
                <a href=""><i class="fas fa-filter"></i></a>
            </div>
            <!-- Tabla -->
            <table id="tabla-juegos" class="table table-dark">
                <thead>
                <tr>
                    <th class="oculto" scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cesta</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="oculto" scope="row">1</th>
                        <td class="tabla-titulo-juego"><a href="localhost:8080/plantilla"> Halo</a></td>
                        <td>2020</td>
                        <td>Accion</td>
                        <td>$1200</td>
                        <td><a href=""><i class="fas fa-shopping-cart"></a></td>
                    </tr>
                    <tr>
                        <th class="oculto" scope="row">2</th>
                        <td class="tabla-titulo-juego"><a href="localhost:8080/plantilla">Gotham Knight</a> </td>
                        <td>2019</td>
                        <td>Suspenso</td>
                        <td>$1350</td>
                        <td><a href=""><i class="fas fa-shopping-cart"></a></td>
                    </tr>
                    <tr>
                        <th class="oculto" scope="row">3</th>
                        <td class="tabla-titulo-juego"><a href="localhost:8080/plantilla"> Ghostwire Tokyo</a></td>
                        <td>2020</td>
                        <td>RPG</td>
                        <td>$950 </td>
                        <td><a href=""><i class="fas fa-shopping-cart"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>