    <!-- cabecera -->
    {{> cabecera}}
    <!-- Navbar -->
    {{> navbar}}
    <!-- Carrusel -->
    <!-- Plantilla del juego -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-8 imagen-juego">
            <img src="./images/halo_infinite.jpg" class="img-thumbnail" alt="...">
          </div>      
          <div class="col-sm-12 col-lg-4 descripcion-juego">
            <h1>XXXXXX Juego</h1>
            <button type="button" class="btn btn-outline-secondary btn-sm" disabled> GENERO</button>
            <p>$1350  </p>

            <p class="plantilla-parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum molestiae corrupti deleniti velit animi, nisi voluptatem sequi necessitatibus laboriosam numquam a officia veniam nulla odio reiciendis laudantium magni sunt perspiciatis.</p>
            <label for="cantidad">Cantidad</label>
            <select id="cantidad" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Open this select menu</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <p>Stock: 3</p>
            <div class="botones-plantilla d-flex justify-content-end flex-column">
              <button class="btn btn-success">Comprar <i class="far fa-credit-card"></i></button><br>
  
              <button class="btn btn-primary">Agregar al <i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>