*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}
body{
    background-color: #343a40;
}
/* Navbar */
.nav-link{
    color: white !important;
    font-family: 'Staatliches', cursive;
}
.navbar-brand {
    color: white !important;
    max-width: 40%;
}
.form-inline{
    margin: auto;
    width: 100%;
}
#search-input{
    font-family: 'Staatliches', cursive;
}

@media (min-width: 300px) and (max-width: 990px){
    #navbarNav{
        justify-content: center !important;
    }
}

/* Carousel */
h5{
    font-size: 3rem;
    color: azure;
}
.parrafos-carousel{
    font-size: 2rem;
}

/* #p-halo{

} */
#p-gotham{
    color:darkgoldenrod;
    border-color: gold;
}
#p-ghostwire{
    color: crimson;
}

/* Tabla de catalogo */
.oculto{
    display:none;
}
th{
    color: rgba(255, 255, 255, 0.822);
    background-color: crimson;
    font-size: 1.3rem;
}
#t-catalogo{
    color:white;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.fa-shopping-cart{
    color: whitesmoke;
    background-color: #343a40;
    text-align: center;
    font-size: 1.5rem;
}
.fa-filter{
    background-color: #343a40;
    color: #a10c1d;
    font-size: 1.5em;
    
}
.fa-filter:hover{
    cursor: pointer;
    color: #77b912;

    
}
.tabla-titulo-juego{
    font-size: 1.25rem;
}
#label-filtro{
    color:whitesmoke;
    font-size: 1.3rem;
    padding-right: 1.5rem;
}
#filtro-genero{
    border-radius: 3rem;
    width: 15rem;
    height: 1.7rem;
}
#filtro-genero>a{
    padding-left: 2rem;
    /* height: 2rem; */
}

/* Plantilla */
.imagen-juego img{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 5rem;
    border-color: #75b811;
    background-color: #75b811;
    padding: 0.10rem;
    border-radius: 1rem;
}
.descripcion-juego{
    margin-top: 5rem;
    color: white;
}
.plantilla-parrafo{
    margin-top: 3.5rem;
}
.btn-success{
    background-color: #28a74536;
}
.btn-primary{
    background-color:#274a70 ;
    /* margin-top: 1rem; */
}
.btn-primary .fa-shopping-cart{
    
    background-color: #274a70;
}
/* .botones-plantilla{

} */

JULK

/* Loading */
/*.container {
	 background-color: #fff;
	 text-align: center;
	 box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}
 .spinner {
	 width: 70px;
	 height: 70px;
	 background: #eee;
	 border-radius: 50%;
	 position: relative;
	 margin: 40px;
	 display: inline-block;
}
 .spinner:after, .spinner:before {
	 content: "";
	 display: block;
	 width: 70px;
	 height: 70px;
	 border-radius: 50%;
}

 .pacman {
	 position: absolute;
}
 .pacman .track {
	 border-top: 8px dotted #eee;
	 height: 0;
	 position: relative;
	 width: 150px;
	 left: 600px;
	 top: -92px;
}
 .spinner__4 {
	 background: transparent;
}
 .spinner__4 span {
	 width: 8px;
	 height: 8px;
	 background: #000;
	 position: absolute;
	 border-radius: 50%;
	 top: 15px;
	 left: 35px;
}
 .spinner__4:before, .spinner__4:after {
	 display: block;
	 height: 0px;
	 width: 0px;
	 position: absolute;
	 border: 35px solid #fc0;
	 border-left-color: transparent;
	 border-bottom-color: transparent;
	 animation: chunk-top 1s ease infinite;
}
 .spinner__4:after {
	 border: 35px solid #fc0;
	 border-right-color: transparent;
	 border-top-color: transparent;
	 animation: chunk-bottom 1s ease infinite;
}
 @keyframes chunk-top {
	 0%, 100% {
		 transform: rotate(-45deg);
	}
	 50% {
		 transform: rotate(-80deg);
	}
}
 @keyframes chunk-bottom {
	 0%, 100% {
		 transform: rotate(-40deg);
	}
	 50% {
		 transform: rotate(0deg);
	}
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #343a40;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: 9s all;
	opacity: 0;
}
.loading.show {
	opacity: 1;
}

*/


/*Logos redes sociales*/
/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* Logo landing */
.imagen{
    margin-top: 3%;
    margin-bottom: 1%;
}

.slide-in-top {
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/* Boton login */
.bounce-top {
	animation: bounce-top 0.9s both;
}

@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }


.boton{
    background: #050801;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}

.boton:hover{
    background: #03e9f4;
    
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    

}

.boton:nth-child(1){
    filter: hue-rotate(270deg);
}
.boton:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* Modal */

.modal-header{
    background-color: #00d61d;
}

.modal-body {
    background-color: #343a40;
}

.form-group1{
    color: white;
}

.nav-tabs {
    margin-bottom: 15px;
}

div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

/* Página contraseña */
h3{
    text-align: center;
    color: white !important;
    font-family: 'Staatliches', cursive;
    margin-top: 3rem;
}

div.header{
   border-bottom: 1px solid #C51111;
   display: block;
   margin-top: -15px;
   margin-bottom: 21px;
}

#email-label{
    color: white !important;
    font-family: 'Staatliches', cursive;
}

#email-element{
    text-align: center;
    
}

#email1{
    padding: 0 50px;  
}

#Recuperar-element{
    text-align: center;
}

#Recuperar{
    padding: 5px;
}

.btn-group-justified1{
    width: 30%;
}

/* Boton enviar - contacto */
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  

  /* 5 */
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

/*MEDIA QUERIES*/

@media (max-width:1440px){
    .boton {
    font-size: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 15%;
    margin-left: 4%; 
      }
}


@media (max-width:1024px){
    .boton {
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 15%;
    margin-left: 6%; 
      }
    .imagen {
        margin-left: 1%;
    }
}

@media (max-width:950px){
    .boton {
    font-size: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 15%;
    margin-left: 6%; 
      }
    .imagen {
        margin-left: 1%;
    }
}


@media (max-width:768px){
    .boton {
        font-size: 0.8rem;
        padding: 0.8rem;
        margin-bottom: 15%;
        margin-left: 8%;
      }
    .imagen {
        margin-left: 1%;
    }
}

@media (max-width:550px){
    .boton {
        font-size: 0.8rem;
        padding: 0.6rem;
        margin-bottom: 15%;
        margin-left: 15%;
      }
    .imagen {
        margin-left: 1%;
    }
}

@media (max-width:320px){
    .boton {
        font-size: 0.6rem;
        padding: 0.6rem;
        margin-bottom: 12%;
        margin-left: 15%;
      }
    .imagen {
        margin-left: 1%;
    }
}

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}

/*JOAQUIN*/
.container-fluid{
    justify-content: center;
    display: flex;
}
.container{
    margin-top: 3rem;
}

.table{
 background-color: ghostwhite;
}
.card{
    width: 75%;
}

thead tr th{
    border-top: 0;    
    align-items: center;
}
ul{
    list-style: none;
}

th{
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: ghostwhite;
}
td{
    text-align: center;
}
li{
    text-decoration: none;
}
#listajuegos{
    width: 65%;
}
#formulario-add{
    display: flex;
    flex-direction: column;
}

#bttn-enviar{
    margin-top: 1.5rem;
}


/*Catalogo*/

#listadojuegos{
    margin-top: 1rem;
}

.juegoconteiner{
    display: flex;
    flex-direction: column;
}
.item {
    border: 2px solid rgb(0, 145, 36);
    padding: 10px;
    border-radius: 20px;
    background-color: #21252b;
}

.item-title {
    text-transform: uppercase;
    text-align: center;
}

.item-image {
    height: 18rem;
    margin-left: 3rem;
    box-shadow: 0 11px 8px -6px rgba(0, 134, 11, 0.392);
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}
.item-details .item-price {
    margin-left: 2rem;
}
  
.imgdesc{
      display: flex;
}
.imgdesc p{
      color: white;
      margin: 0 1rem;
      text-align:justify;  
}

.item-details h4{
        color: white;
        margin: 0 1rem;
        text-align:justify;  
}
